argcomplete==1.12.3
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
dxpy==0.348.0
gffutils==0.12
greenlet==2.0.2
idna==3.4
mysqlclient==2.1.1
numpy==1.24.3
pandas==2.0.2
psutil==5.9.5
pycparser==2.21
python-dateutil==2.8.2
pytz==2023.3
regex==2023.6.3
requests==2.28.2
six==1.16.0
SQLAlchemy==2.0.16
typing-extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
websocket-client==0.54.0
